*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    gap: 300px;
    position: relative;
  }
  

    .outline{
        display: block;
        background-image: url("survey\ image.jpeg");
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(8, 3, 3, 0.767);
        padding: 300px;
        width: 100vw;
        height: 100vh;
        line-height: 3rem;
        margin-top: 0;
}
    
.outline h1{
line-height: rem;
text-align: center;
margin-top: auto;
}

.outline p{
    text-align: center;
}


